* {
    margin: 0;
    padding: 0;
}

.Section4 {
    width: 100%;
    height: 60vh;
    font-family: sans-serif;
}

h1 {
    color: #000;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;

}

.Ichi {
    width: 80%;
    display: flex;
    text-align: center;
}

.section4left {
    width: 60%;
    height: 60vh;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    text-align: start;
}

.section4left h3 {
    color: #404040;
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: sans-serif;

}

.section4left p {
    color: #404040;
    font-family: Gilroy;
    font-size: 26px;
    font-weight: 400;
    font-family: sans-serif;

}

.section4right {
    width: 30%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -2%;

}

.rasm {
    width: 100%;
    height: 50vh;
    background-image: url("./Group.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 12%;
}