.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    padding: 20px 0;
}

.container .box2 {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.container .box2 .botton {
    position: relative;
    width: 100px;
    padding: 10px 0;
    bottom: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}