*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 auto;
}
#container .box1{
    width: 45%;
    padding: 100px 0;
    font-size: 20px;
}
#container .box1 p{
    padding: 40px 0 90px 0;
}
#container .box1 button{
    padding: 15px 40px;
    font-size: 20px;
}
#container .box1 .btn1{
    padding: 15px 45px;
    border-radius: 20px;
    background: #A790C6;
    border: none;
    color: white;
}
#container .box1 .btn2{
    padding: 15px 75px;
    border-radius: 20px;
    background:white;
    border: 2px solid #A790C6;
    margin-left: 20px;
    color: #A790C6;
}

#container .box2{
    width: 45%;
}
#container .box2 img{
    width: 100%;
}
 