* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.container {
    max-width: 1440px;

    margin: 0 auto;
    padding: 0 140px;

}

.main3_page {
    width: 100%;
    margin-top: 120px;
    padding-bottom: 120px;
}

.main3_text {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;

}

.main_top_fleex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 7px;
    padding-bottom: 40px;
    margin-left: 16px;


}

.main3_line {
    width: 69px;
    height: 1px;
    background: #000;
}

.main3_flex_desc {
    width: 358px;
    color: #373737;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.Card_box {

    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;



}


@media screen and (min-width: 769px)and (max-width:1000px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .Card_1 {
        width: 500px;
        height: 207px;

    }

    .main3_text {
        font-size: 50px;
    }

    .container {
        margin-left: -5%;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .Card_1 {
        width: 400px;
        height: 207px;

    }

    .main3_flex_desc {
        font-size: 16px;
        width: 280px;

    }

    .main3_text {
        font-size: 35px;
    }

    .container {
        margin-left: -90px;
    }
}

@media only screen and (max-device-width: 480px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .main3_flex_desc {
        font-size: 13px;
        width: 200px;

    }

    .main3_text {
        font-size: 30px;
    }

    .container {
        margin-left: -20%;
    }

    .Card_1 {
        width: 350px;
        height: 207px;

    }
}