* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}




.Card_1 {
    width: 366px;
    height: 207px;
    border-radius: 5px;
    background: #FFF;
    padding: 12px;
}

.Card_1:hover {

    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
}
.rasm{
   padding: 10px 0;
}



.card_text {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
   
}

.card_desc {
    width: 297px;
    color: #696161;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;

    margin-top: 10px;

}

@media screen and (min-width: 769px)and (max-width:1000px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .Card_1 {
        width: 600px;
        height: 207px;

    }

    .main3_text {
        font-size: 50px;
    }

    .container {
        margin-left: -5%;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .Card_1 {
        width: 400px;
        height: 207px;

    }

    .main3_flex_desc {
        font-size: 16px;
        width: 280px;

    }

    .main3_text {
        font-size: 35px;
    }

    .container {
        margin-left: -90px;
    }
}

@media only screen and (max-device-width: 480px) {
    .Card_box {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .main3_flex_desc {
        font-size: 13px;
        width: 200px;

    }

    .main3_text {
        font-size: 30px;
    }

    .container {
        margin-left: -20%;
    }

    .Card_1 {
        width: 350px;
        height: 207px;

    }
}